/*
 * Johann Caancan
 */

.loginPage {
    padding: 30px
}

.loginPage h1{
    font-size: 3rem;
    margin-bottom:0;
}

.loginPage h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2rem;
}

.loginPage h3{
    margin-bottom: 5px;
}

.loginPage input{
    background-color:var(--background) ;
    border-color: var(--content);
    font-family: "Fira Code";
    font-size: 18px;
    color: var(--content);
    border-radius: 7px;
    width: 300px;
    height: 36px;
}

input:focus{
    border-color: var(--content-hover);
    outline: none;
}

input:focus::placeholder {
    color: transparent;
  }

input::placeholder{
    font-family: "Fira Code";
    font-size: 18px;
    color: rgb(158, 152, 152);
}

.inputs{
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.or{
    text-align: center !important;
    width: 10%;
    margin-top: 8px ;
    margin-bottom: 5px;
}

.Google{
    border: none;
    background-color:var(--accent);
    width:100%;
    height:40px;
    font-family: "Roboto Medium";
    font-size: 1.6rem;
    color: var(--content);
    border-radius: 20px;
    
}

.Login{
    border: none;
    background-color:var(--accent);
    width:100%;
    height:40px;
    font-family: "Fira Code";
    font-size: 1.6rem;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
}

.inputs button:hover {
    background-color: var(--accent-hover); 
  }

.line{
    width: 100%;
    background: var(--content);
    height: 2px;
    margin-top: 20px;
    border-radius: 2px;
}

.halfLine{
    width: 45%;
    background: var(--content);
    height: 2px;
    margin-top: 20px;
    border-radius: 2px;
}

.google-logo{
    width:30px;
    height:30px;
    float: left;
    margin-top: 0px;
    border-radius: 20px;
}

p{
    font-size: 0.8rem;
}
.noAcc{
    margin:auto;
    margin-top: 0.5rem;
}

a{
    color:var(--accent);
}

a:hover{
    color:var(--accent-hover);
}