/*
 * Harrison Johns
 *  Contact before making changes
 */

.nav-header {
  top: 0;
  background-color: var(--alt-background);
  padding: 5px 15px;
  margin: 0;
  font-size: .9rem;
}

.nav-header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}

.nav-header nav a {
  text-decoration: none;
  color: var(--content);
  opacity: 90%;
}

.nav-header nav a:hover {
  color: var(--content-hover);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-profile-pic {
  width: 36x;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-logo {
  width: 36px;
  height: 36px;
  border-radius: 20%;
}

.user-section {
  padding-right: 10px;
}