/*
 * Harrison Johns
 */

.upload-section {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 60px;
  text-align: left;
}

.upload-btn {
  background-color: var(--accent);
  color: var(--content);
  border: none;
  padding: 10px 35px;
  border-radius: 8px;
  margin-top: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .5s ease;
  box-shadow: 2px 2px var(--accent-hover);
}

.upload-btn:hover {
  background-color: var(--accent-hover);
  box-shadow: 4px 4px var(--accent);
}

.upload-section p {
  margin: 0;
  font-size: .8rem;
}