
  /* Styling for the panel */
  .upload-details-panel {
    background-color: var(--alt-background);
    color: var(--content);
    padding: 14px;
    border-radius: 12px;
    width: 100%;
    max-width: 700px;
    max-height: 900px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    text-align: left;
  }

  .upload-top-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .panel-title {
    font-size: 1.2rem;
    margin: 0;
    margin-top: 6px;
    margin-bottom: 36px;
  }

  .exit-x {
    margin: 0 auto;
    margin-right: 8px;
    font-size: 1.4rem;
    color: var(--content);
    cursor: pointer;
    border-radius: 10%;
    background-color: var(--background);
    box-shadow: 1px 1px black;
    padding: 4px 8px;
    transition: all .4s ease;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .exit-x:hover {
    border-radius: 25%;
    box-shadow: 2px 2px black;
  }

  .exit-x span {
    margin: 0;
    padding: 0;
  }

  .upload-details-columns {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .upload-details-columns:first-of-type {
    width: 100%;
    overflow: none;
  }

  
  .input-group {
    margin-bottom: 30px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #bbb;
  }
  
  .detected-info {
    width: 100%;
    width: 380px;
    min-height: 60px;
    max-height: 20vh;
    padding: 12px;
    background-color: var(--background);
    border: 1px solid var(--content);
    border-radius: 10px;
    color: var(--content);
    resize: vertical;
    font-family: inherit;
    font-size: .8rem;
  }
  
  .image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 90%;
    margin-left: 20px;
    padding: 20px 20px;
    padding-top: 0px;
  }
  
  .image-placeholder img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 4px solid black;
    box-shadow: 4px 4px black;
    border-radius: 16px;
    transition: all 0.5s ease;
  }

  .image-placeholder img:hover {
    border: 4px solid black;
    box-shadow: 8px 8px black;
    border-radius: 12px;
  }
  
  .confirm-button {
    background-color: var(--accent);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: 2px 2px var(--accent-hover);
    margin-bottom: 20px;
  }
  
  .confirm-button:hover {
    background-color: var(--accent-hover);
    box-shadow: 3px 3px var(--accent);
  }
  