/*
 * Harrison Johns
 *  Contact before making changes
 */

:root {
  --background: #212121;
  --alt-background: #171717;
  --content: #FFFFFF;
  --accent: #525DD5;
}

body {
  font-family: "Fira Code";
}

.app-container {
  text-align: center;
  background-color: var(--background);
  color: var(--content);
  min-height: 100vh;
}